@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;1,400&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');


:root {
    --blue : #5278ba;
    --font : #535151;
}
   


.section {
    display: flex;
    flex-direction: row;
    background-color: white;
}

body {
    overflow-x: hidden;
}
.nav {
    width: 100%;
    height: 7em;
    display: flex;
    background-color: #eaeaea;
    position: relative;
    z-index: 10;
}

.menu {
    margin: 0 auto;
    width: 1240px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.menu img {
    width: 249px;
    height: 34px;
    margin-top: 2.5em;
    margin-left: 5em;
}

.menu ul { 
    display: flex;
    flex-direction: row;
    margin-top: 1.4em;
    
}

.menu li {
    padding: 2em;
    
}

/* MENU RESPOSIVE ACTIVE */

@media screen and (max-width:1050px) {
    .menu {
        margin: 0 auto;
        width: 1240px;
        display: flex;
        justify-content: space-between;
    }
    
    
    .menu ul { 
        display: flex;
        flex-direction: row;
        margin-top: 1.4em;
        
    }
    
    .menu li {
        padding: 2em;
        
    }
}


.menu a {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    color: #535151;
    font-weight: bold ;
    letter-spacing: 0.3px;
}
.menu a:hover {
    color: #8a8787;
    border-bottom: 2px solid #5278ba;
}

.menu-resposive {
    z-index: 10;
    display: none;
    cursor: pointer;
}

.burger {
    background-color: rgb(131, 128, 128);
    margin-top: 0.4em;
    margin-left: 2em;
    width: 2em;
    height: 0.3em;
    display: block;
    cursor: pointer;
    transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transform: all 0.5s ease;
    
}

.resp-text {
    display: none;
}

.resp-text p {
    margin-top: 5em;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #646464;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 11px;
}



/* RESPOSIVE MENU  */

@media screen and (max-width: 850px){
    .nav {
        height: 5em;
    }
    .on-off {
        display: none;
    }
    .menu-resposive {
        display: block;
        margin: 1em 1em 0  0 ; 
    }
    body {
        overflow-x: hidden;
    }
    .menu ul { 
        position: absolute;
        flex-direction: column;
        margin-top: 5em;
        left: 0;
        width: 50vh;
        height: 450vh;
        background-color: #eaeaea;
        transform: translateX(-150%); 
        -webkit-transform: translateX(-150%);
        -o-transform: translateX(-150%);
        transition:  transform 0.7s ease-in;
        align-items: center;
    }
    
    .menu li {
        padding: 1.5em;
        
    }
    .menu a {
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-size: 1rem;
        color: #535151;
        font-weight: bold ;
        letter-spacing: 0.3px;
        width: 100%;
        
    }

    .menu a:hover {
        color: #8a8787;
        border-bottom: 2px solid #5278ba;
    }

    .menu img {
        margin: 2em auto;
        width: 80px;
        height: 11px;
    }
    .resp-text{
        display: flex;
        width: 320px;
        margin: 0 auto;
        margin-bottom: 3em;
    }
    
}

.nav-active ul  {
    transform: translateX(0%);
}

.toggle .line1 {
    background-color: black;
    transform:  rotate(-45deg) translate(-5px , 7px);
}
.toggle .line2 {
   opacity: 0;
}
.toggle .line3 {
    background-color: black;
    transform:  rotate(45deg) translate(-5px , -7px);
}
/* MENU RESPOSIVE ACTIVE */

/* START SECTION  */
.section {
    background-image: linear-gradient(114.9deg, #222222 8.3%, #00283C 41.6%, #008FD5 93.4%);
    width: 100% ;
    height: 470px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.img-resposive {
    display: none;
}
.container {
    margin: 0 auto;
    display: flex;
    width: 1240px;

}

.img-normal {
    width: calc(100%);
    position:absolute;
    height: 670px;
    top:0;
    z-index: 1;
    filter: opacity(40%);
}

.one-left h1 {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 38pt;
    color: rgb(0, 0, 0);
    font-weight: bold ;
    margin: 1.6em 0 2em 3em;
    position: relative;
    z-index: 5;
    border-radius: 5px;
    text-shadow: 1px 1px 1px 5px #030404;
   
}

.one-left p {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    color: white;
    font-weight: normal ;
    margin: -2em 0 0 5.6em ;
    width: 25em;
    line-height:35pt;
    position: relative;
    z-index: 5;
}




@media screen and (max-width:790px) {
    .container {
        width: 320px;
        display: flex;
        flex-direction: column;

    }

    .section {
        width: calc(100%);
        height: 300px;
        border: 1px solid black;
    }
    .img-normal{
        display: none;
        filter: opacity(40%);
    }

    .img-resposive {
        position:absolute;
        height: 670px;
        top:0;
        z-index: 1;
        filter: opacity(40%);
        display: block;
        max-width: 520px ;
    }

    .img-normal {
        display: none;
    }
    .one-left p {
        font-size: 14px;
        margin: 3em auto;
        line-height:20pt;
    }
    .one-left h1 {
        font-size: 20px;
        margin: 3em auto;
    }
    /* .section img {
        width: calc(100%);
    } */
    .one-right {
        display: none;
    }
    
    
}

/* END SECTION */


/* START SECTION-TWO */

.problem {
    width: 100%;
    display: flex;
    margin: 0 auto;
    z-index: 9;
    height: 0.1px;
}

.problem > h1 {
    margin: 0 auto;
    background-color: #fff;
    z-index: 9;
    margin-top: 0.3em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    color: #000000;
    font-weight: bold ;       
    text-align: center;
    padding: 1em;
}

.section-two {
    background-color: white;
    width: 100%;
    display: flex;
    margin-bottom: 2em;
    position: relative;
    z-index: 3;
    padding: 6em 0 0 0 ; 
}


@keyframes efeitos {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


.container-two {
    position: relative;
    z-index: 3;
    width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3em auto;
    padding: 1em;
    border-radius: 10px;
}

.effect-container {
    box-shadow: 1px 1px 2px 1px #5278ba;
}

.plus {
    display: flex;
    justify-content: center;  
    width: 1024px;    
}

.plus-icon {
    width: 35em;
    height: 10em;
    align-items: center;
    border-radius: 10px;
    margin-top: 3em;
    padding: 2em;
    opacity: 0;
}

.plus-icon > h1 {
    margin-top: 0.3em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    color: #000000;
    font-weight: bold ;       
    text-align: center;
}

.plus-icon > p {
    color: rgb(100, 100, 100);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 29px;
    margin: 1em auto;
    text-align: center;
}

@media screen and (max-width:790px){
    .container-two {
        width: 320px;
    }
    .plus-icon > p {
        font-size: 12px;
    }
    .plus-icon > h1 {
        font-size: 17px;
    }
    
}



.toone  {
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -webkit-transform: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    opacity: 1;
 }

/* .fa-plus-circle {
    font-size: 2em;
    color: rgb(105, 139, 202);
    cursor: pointer;
}
.fa-plus-circle:hover {
    color: rgb(126, 231, 105);
} */


/* 


 /* START SECTION-THREE */
.section-three {
    display: flex;
    flex-direction: row;
    width: 100% ;
    background-image: linear-gradient(114.9deg, #222222 8.3%, #00283C 41.6%, #008FD5 93.4%);
    min-height: 400px;
}

.container-three {
    width: 1240px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 14em;
    
}

.two-icon {
    padding: 3em;
    width: 35em;
    margin-top: 6rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}



.fa-check-circle {
    font-size: 3em;
    color: #0cff49;
}

.two-icon label {
    margin-left: 1em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    color: #eeebeb;
    font-weight: normal;
    line-height: 30px;
}
.solutions {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    z-index: 9;
    height: 0.1px;
}

.solutions > h1 {
    margin: 1.3em auto;
    z-index: 9;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    color: #000000;
    font-weight: bold ;       
    text-align: center;
    margin-bottom: 1em;
}

.solutions > p {
    margin-left: 1em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    color: #ffffff;
    font-weight: normal;
    line-height: 30px;
    margin: 0 auto;

}

.its-easy {
    margin: 5em 35em 2em 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    color: #090808;
    font-weight: normal;
    line-height: 30px;
}

@media screen and (max-width:790px){
    .container-three {
        width: 320px;
        margin-top: 10em;
    }

    .two-icon > p {
        font-size: 12px;
    }
    .two-icon  > label {
        font-size: 17px;
    }


    
}



/* RESPOSIVE  */

/* @media screen and (max-width:780px){
    .container-three {
        width: calc(100%);
        flex-direction: column;
        margin: 0 auto;
    }
    .three-left label {
        font-size: 8pt;
        
    }
    .three-right img {
        margin-top: 3em;
        margin-left: 6em;
        width: calc(100% - 10%);
    }
    .three-left ul {
        margin: 0 auto;
        width: 320px;
        
    }
    .three-left h1 {
        margin-left: 3em;
    }
    .post-trader {
        font-size: 5pt;
        margin-left: 1em;
    }
} */

 /* END SECTION-THREE */

/*FOOTER INICIO */

.footer {
    width: 100%;
    display: flex;
    background-color: #eaeaea;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 91;

    
}

.formulario {
    width: 1240px;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;   
    
}
.bloco-img {
    width: calc(100% - 70%);
    margin: 2em 0 0 6em;

}

.bloco-img p {
    margin-top: 5em;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    color: #646464;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 11px;
}
.bloco-form{
    display: flex;
    flex-direction: row;
    width: calc(100% - 50%);
    
}

.aside-one {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.check {
    display: flex;
    width: 320px;
    margin: 1em 0 0 50%;
    justify-content: space-between;
}
.check h1 {
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 7pt;
    color: black;
    font-weight: bold ;
    letter-spacing: 0.3px;
}
.check em {
    color: blue;
}

.signup {
    display: flex;
    width: 320px;
    margin: 1.5em 0 0 50%;
    justify-content: space-between;
    margin-bottom: 2em;
}

.signup input {
    border: 1px solid black;
    width: 25em;
    height: 5em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #009da2;
    box-shadow: 1px 1px 5px 1px #9ea2a4 ;
    -webkit-box-shadow: 1px 1px 5px 1px #9ea2a4;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold ;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.signup input:hover {
    transition: 0.6s;
    background-color: #54d0d4;
}

.comm {
    position: absolute;
    margin: -1.7em 0 0 -34em;
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 7px;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.5px;
    

}
.aside-two {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 4.7em;
}

.obj-h1 {
    position: absolute;
    margin: 1em 0 0 5em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.3px;
}



/* 
CONFIG INPUT  */
.ls {
    margin-top: 2em;
    width: calc(100% - 50%);
}
.config-input {
    background-image: url(../img/user.png);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 7px 10px;
    border-color: #5278ba;
    border-radius: 5px;
    height: 3em;
    width: 20em;
    padding-left: 3em;
    border: 1px solid black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.3px;
}



.aside-two textarea {
    height: 8em;
    width: 20em;
    margin-top: 2em;
    border-radius: 5px;
    border: 1px solid black;
    background-image: url(../img/file.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 7px 9px;
    padding: 0.8em 0 0 3em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #000000;
    font-weight: bold ;
    letter-spacing: 0.3px;
    resize: none;
}
.aside-three input {
    margin: 0 auto;
    border: 1px solid black;
    width: 25em;
    height: 5em;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #009da2;
    box-shadow: 1px 1px 5px 1px #9ea2a4;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold ;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.aside-three input:hover {
    transition: 0.6s;
    background-color: #54d0d4;
}
@media screen and (max-width:1050px) {
    .config-input  {
        width: 150px;
    }
    .aside-two textarea {
        width:150px;
    }
    .obj-h1 {
        font-size: 15px;
    }
    .one-right {
        display: none;
    }
}

/* START CONFIG ABOUT SECTION */

.section-about {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 1;
    background-image: linear-gradient(114.9deg, #222222 8.3%, #00283C 41.6%, #008FD5 93.4%);
}

.section-about  > img {
    width: 100%;
    height: 500px;
    filter: opacity(60%);
}

.img-about-container {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 20em 0 0 56em;
}

.article-about {
    background-image: linear-gradient(114.9deg, #222222 8.3%, #00283C 41.6%, #008FD5 93.4%);
    display: flex;
    justify-content: center;
    padding: 3em;
    z-index: 10;
    
}
.article-about-text {
    display: flex;
    justify-content: center;
    width: 1024px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 11;
    
}

.article-about-text > p {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 30px;
    padding: 3em;
}


/* 
RESPOSIVE NORMAL FOOTER */
/* 
bloco-img config */
@media screen and (min-width:760px) {
    .logo-mini {
        display: none;
    }
    .logo-medium{
        display: none;
    }
}
@media screen and (max-width:790px) {
    body {
        overflow-x: hidden;
    }
    .footer {
        height: 100%;
    }
    .formulario {
        width: calc(100%);
        flex-direction: column-reverse;
    }
    .logo-medium {
        display: none;
    }
    .logo-big {
        display: none;
    }
    .bloco-img {
        width: 320px;
        margin: 0 auto;
    }
    .logo-mini {
        margin: 1em 0 0 4.5em;
    }
    
    .bloco-img p{
        margin: 2em 0 0 0.5em;
    }

}
/* 
bloco-form config */
@media screen and (max-width:790px) {
    .bloco-form {
        width: 320px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .obj-h1 {
        font-size: 20px;
        margin: 1em auto;
    }

    .aside-one {
        display: flex;
        margin-bottom: -5em;
    }

    .aside-two textarea {
        margin-top: 2em;
        width: 25em
    }

    .config-input {
        width: 25em;
    }
    .comm {
        width: 50em;
    }
    .check {
        margin: 1em auto;
    }
    .signup {
        margin: 1em auto;
    }
    .signup input {
        width: 32em
    }
}
/* START TECHNOLOGY */
.section-tec-one {
    width: calc(100%);
    background-color: var(--blue);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/back-tec.png);
    justify-items: center;  
}
/* START ARTICLE ONE */
.article-tec-one {
    margin: 0 auto;
    width: 1240px;
    display: flex;
    flex-direction: row;
}
.build {
    width: calc(100% - 50%);
    margin: 15em 0 2em 2em;
    padding: 2em;
    line-height: 1.2;
}
.article-tec-one p {
    margin-top: 1.3em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    color: #fffefe;
    font-weight: bold ;       
    text-align: center;
}
/* END ARTICLE ONE */

/* START ARTICLE TWO */
.article-tec-two {
    width: 1240px;
    display: flex;
    margin: 0 auto;
}
.article-tec-left {
    width: calc(100% - 50%);
    border-bottom: -5em;
    z-index: -20;
}

.article-tec-two h1 {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 21pt;
    color: #464444;
    font-weight: bold ;       
    margin: 0 2em 0.8em 0.6em;
}

.article-tec-two p {
    margin-top: 0.7em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #313030;
    font-weight: normal ; 
    margin-left: 1em;   
}

.dg , .iot ,.adv ,.dlt ,.ai {
    margin: 5em 7em 6em auto;
    width: calc(100% - 25%);
    display: flex;
}


.dlt {
    margin-top: 7em;

}

.article-tec-right {
    width: calc(100% - 50% ); 
}

/* START SECTION  THREE  ///////////*/
.section-tec-three {
    width: 100%;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left right;
    background-image: url(../img/back-tec.png);
    z-index: 1;
}

.article-tec-three {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.article-tec-three p {
    margin-top: 0.7em;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12pt;
    color: #ffffff;
    font-weight: normal ; 
    margin-left: 3em;
    line-height: 1.8;   
}

.article-tec-three h2 {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 21pt;
    color: #000000;
    font-weight: bold ;       
    margin: 1.2em 2em 0.8em 0.6em;
}

.how-it {
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 35pt;
    color: #000000;
    font-weight: bold ;       
    margin: 1.2em 2em 0.8em 0.2em;
}

.article-tec-box-two {
    width: calc(100% - 60%);
}

.article-tec-box-two img {
    margin: 20em auto;
    z-index: 2;
    animation-name: moveLogo;
    -webkit-animation-name: moveLogo;
    -webkit-animation-duration: 4s;
}

.article-tec-box-one {
    margin-bottom: 3em;
}

.p-it {
    margin-right: 1em;
}
@keyframes moveLogo {
    0% {
        opacity: 0.2;
        top: 140px;
    }
    50% {
        opacity: 0.5;
        transform: translate(40%);
        -webkit-transform: translate(40%);
        -o-transform: translate(40%);
        z-index: 1;
    }
    100% {
        opacity: 1;
    }
} 
.article-tec-box-two img:hover {    
    animation-name: moveLogo;
    animation-duration: 4s;
    -webkit-animation-name: moveLogo;
    -webkit-animation-duration: 4s;
    opacity: 1;
}

/* START ARTICLE FOUR  */

.section-tec-four {
    width: calc(100%);
    background-image: url(../img/back-tec-two.png);
}

.article-tec-four {
    width: 1240px;
    margin: 0 auto;
    display: flex;
}
.article-tec-four > img {
    margin: 0 auto;
    margin-top: -10em;
    width: calc(100% - 30%) ; 
}
/* RESPÒNSIVE */
@media screen and (max-width:760px) {
    .article-tec-one {
        width: 320px ;
    }
    .article-tec-one > p {
        font-size: 13pt;
    } 
    .build > img {
        width: 20px;
        height: 15px;
    }
    .article-tec-two {
        width: 320px;
        display: flex;
        flex-direction: column;
    }
    .article-tec-right {
        margin-top: -3em;
        width: 320px;
    }
    .article-tec-left {
        width: 320px;

    }
    .article-tec-left img , .article-tec-right img  {
        width: 40px;
        height: 37px;
    }
    .article-tec-left h2 , .article-tec-right h2{
        font-size: 17pt;
    }
    .article-tec-left p , .article-tec-right p {
        font-size: 10pt;
    }
    .article-tec-box-one { 
        margin: 0 auto;
        width: 320px;
        margin-bottom: 8em;
    }
    .article-tec-box-two {
        display: none;
    }
    .article-tec-box-one p {
        font-size: 10pt;
    }
    .how-it {
        font-size: 17pt;
    }
    .article-tec-box-one h2 {
        font-size: 17pt;
        color: black;
    }

    .article-tec-four {
        width: 320px;
        margin: 0 auto;
    }
    .article-tec-four img {
        margin: -5em 0 3em 0;
        margin-top: -5em;
        width: 320px;
    }


}